<body>
  <div class="bg-container">
    <div class="login-container">
      <div class="login-left">
        <div class="logo-title">
          <img src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" alt="logo" class="logo-img">
          <span class="main-title">Name + logo</span>
        </div>
        <form class="login-form">
          <label>
            統編
            <input type="text" placeholder="請輸入公司統一編號">
          </label>
          <label>
            帳號
            <input type="text" placeholder="請輸入帳號或E-Mail">
          </label>
          <label>
            密碼
            <input type="password" placeholder="請輸入密碼">
          </label>
          <label>
            公司分部
            <select>
              <option>請輸入公司分部</option>
            </select>
          </label>
          <div class="actions-row">
            <label class="remember-me">
              <input type="checkbox"> 記住我
            </label>
            <a href="#" class="forgot-link">Forgot Password?</a>
          </div>
          <button type="submit" class="sign-in-btn">Sign in</button>
          <div class="divider-row">
            <hr> <span>Or</span> <hr>
          </div>
          <button type="button" class="google-btn">
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/4a/Logo_2013_Google.png" alt="Google logo">
            Sign in with Google
          </button>
          <div class="signup-row">
            Don't you have an account? <a href="#">Sign up</a>
          </div>
        </form>
      </div>
      <div class="login-right">
        <img src="https://images.unsplash.com/photo-1464983953574-0892a716854b?auto=format&fit=crop&w=800&q=80" alt="main visual" class="main-img">
      </div>
    </div>
  </div>
</body>
